
body {
  font-family: 'Arial', sans-serif;
  background-color: #ECE5DD; 
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  height: 100vh;
}

#user-select {
  width: 100%;
  background-color: #075E54;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#user-list {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

#chat-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#chat-header {
  background-color: #075E54;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  position: relative;
}

.message {
  padding: 10px 15px;
  margin-bottom: 10px;
  position: relative;
  max-width: 60%;
}

.message.sender {
  background-color: #DCF8C6; 
  border-radius: 7px 7px 0 7px;
  align-self: flex-end;
  margin-left: 40%;
}

.message.receiver {
  background-color: #FFFFFF;
  border-radius: 7px 7px 7px 0;
  align-self: flex-start; 
  margin-right: 40%;
}

#chat-input {
  display: flex;
  padding: 10px;
  background-color: #f4f4f4;
  border-top: 1px solid #ddd;
}

#message-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  margin-right: 10px;
  resize: none;
}

#send-button {
  background-color: #075E54; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

#send-button:hover {
  background-color: #054C44; 
}


#user-list li {
  list-style: none;
  padding: 10px 15px;
  margin-bottom: 5px;
  background-color: #FFFFFF; /* White background */
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

#user-list li:hover {
  background-color: #EDEDED; /* Light grey for hover effect */
}



#user-list li span {
  font-size: 16px;
  font-weight: 500; /* Semi-bold */
  color: #4a4a4a; 
}

